<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <div class="container">
	<div class="row">
	<form class="form-horizontal">
<fieldset> -->
 <!-- <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   </head>  -->
   <body>
      <div class="container">
      <div class="text">

        Work Experience

      </div>
      <form action="#" (ngSubmit)="resumedata3()">
     <div *ngFor="let i of http.Resumedata.job">
         <div class="form-row">
            <div class="input-data">
               <input type="text" required id="job" name="job"  [(ngModel)]="i.jobname">
               <div class="underline"></div>
               <label for="">Job</label>
            </div>

            <br>
            <div class="input-data">
               <input type="text" required id="organisation" name="name"  [(ngModel)]="i.companyname">
               <div class="underline"></div>
               <label for=""> Organization Name  </label>
            </div>
         </div>


         <div class="form-row">
            <div class="input-data">
               <input type="text" required id="exp-year" name="jobyear"  [(ngModel)]="i.jobyear">
               <div class="underline"></div>
               <label for=""> Experience in Year </label>
            </div>  

            <br/>
         <div class="input-data textarea">
            <textarea rows="8" cols="80" required id="Address" name="Description"  [(ngModel)]="i.jobdes"></textarea>
            <button class="btn btn-danger" type="button" (click)="del(i)"style="height: 55%;">-</button> 
            <div class="underline"></div>
            <label for="">Job Description</label>
         </div>
          </div>
        </div>
<br>
            <div class="form-row submit-btn" style="width: 35%;">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="button"  id="submit" name="submit" (click)="insert()" value="Add">
            </div>
          </div>
          <div class="form-row submit-btn">
              <div class="input-data">
                 <div class="inner"></div>
                 <input type="submit" value="Next" id="next" name="submit">
                </div>
              </div>
    
            
        </form> 
      </div>
     </body>
<!-- Form Name -->
<!-- <legend>Work Experience</legend>

<! Text input-->
<!-- <div *ngFor="let i of http.Resumedata.job">
<div class="control-group">
  <label class="control-label" for="full_name">Job <Title></Title></label>
  <div class="controls">
    <input id="job" placeholder="Enter your Job Title" class="input-xlarge" type="text" name="job"  [(ngModel)]="i.jobname">
    
  </div>
</div> -->

<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label" for="email">Organization Name</label>
  <div class="controls">
    <input id="organisation"  placeholder="Enter Your Organisation name" class="input-xlarge" type="text" name="name"  [(ngModel)]="i.companyname">
    
  </div>
</div> -->

<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label" for="ex-year">Experience in Year</label>
  <div class="controls">
    <input id="exp-year"  placeholder="Enter Your Experience in Year" class="input-xlarge" type="text" name="jobyear"  [(ngModel)]="i.jobyear">
    
  </div>
</div> -->



<!-- Textarea -->
<!-- <div class="control-group">
  <label class="control-label" for="Description">Job Description</label>
  <div class="controls">                     
    <textarea id="Address" name="Description"  [(ngModel)]="i.jobdes">Description</textarea>
    <button class="btn btn-danger" type="button" (click)="del(i)">Remove</button>
  </div>
</div>
</div>
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary" type="button" (click)="insert()">ADD</button>
  </div>
</div>
 -->


<!-- Button -->
<!-- <div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary" type="submit">Next</button>
  </div>
</div>

</fieldset>
</form>
	</div>
</div>
 --> 
