<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div class="container"(ngSubmit)="updatedata1()">
  <div class="text">
     Personal Details
  </div>
  <form action="#"(ngSubmit)="updatedata1()">
     <div class="form-row">
        <div class="input-data">
           <input name="full_name" id="full_name" type="text" required   [(ngModel)]="http.Updatedata.name">
           <div class="underline"></div>
           <label for="">Full Name</label>
        </div>
        <div class="input-data">
           <input id="email" name="email"type="text" required [(ngModel)]="http.Updatedata.email">
           <div class="underline"></div>
           <label for="">Email</label>
        </div>
     </div>
     <div class="form-row">
        <div class="input-data">
           <input id="mobile" name="mobile" type="number" required [(ngModel)]="http.Updatedata.phonenumber">
           <div class="underline"></div>
           <label for="">Mobile Number</label>
        </div>
        <div class="input-data">
           <label for="">Date of Birth</label>
           <input id="dob" name="dob" type="date" [(ngModel)]="http.Updatedata.dob" >
           <div class="underline"></div>
           
        </div>
       
     </div>
     <div class="form-row">
        <div class="input-data">
           <div class="underline"></div>
           <label for="choose">Gender</label>
       <select class="" placeholder=""name="degree" [(ngModel)]="http.Updatedata.gender">
          <option>Male</option>
          <option>Female</option>
       </select>
        </div>
        <div class="input-data">
           <input  id="Address" name="Address"   type="text" required  [(ngModel)]="http.Updatedata.address">
           <div class="underline"></div>
           <label for="">Address</label>
        </div>
     </div>
     <div class="form-row">
     <div class="input-data textarea">
        <textarea rows="5" cols="" name="about" required [(ngModel)]="http.Updatedata.about"></textarea>
        <div class="underline"></div>
        <label for="">About You</label>
        <br />
        <div class="form-row submit-btn">
           <div class="input-data">
              <div class="inner"></div>
              <input  id="submit" name="submit" type="submit" value="Next">
           </div>
        </div>
     </div>
  </div>
  </form>
</div>

</body>




<!-- 

<div class="container">
	<div class="row">
        <form class="form-horizontal" (ngSubmit)="updatedata1()">	
<fieldset>

<!-- Form Name -->
<!-- <legend>::: Personal Details></legend> -->

<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label" for="full_name">Full Name</label>
  <div class="controls">
    <input id="full_name" name="full_name" placeholder="Enter your full name" class="input-xlarge" type="text" [(ngModel)]="http.Updatedata.name">
    
  </div>
</div> -->

<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
    <input id="email" name="email" placeholder="Enter Your Email." class="input-xlarge" type="text"  [(ngModel)]="http.Updatedata.email">
 
  </div>
</div> -->

<!-- Text input-->
<!-- <div class="control-group">
  <label class="control-label" for="mobile">Mobile No.</label>
  <div class="controls">
    <input id="mobile" name="mobile" placeholder="Enter Your Mobile Number" class="input-xlarge" type="number"  [(ngModel)]="http.Updatedata.phonenumber">
 
  </div>
</div> -->

<!-- Appended Input-->
<!-- <div class="control-group">
  <label class="control-label" for="dob">Date of Birth</label>
  <div class="controls">
    <div class="input-append">
      <input id="dob" name="dob" class="input-large" placeholder="YYYY-MM-DD" type="date"  [(ngModel)]="http.Updatedata.dob">
      <span class="add-on">DOB</span>
    </div>
   
  </div>
</div> -->

<!-- Multiple Radios (inline) -->
<!-- <div class="control-group">
  <label class="control-label" for="choose">Gender</label>
  <select class="control-label" placeholder="Degree" name="degree" [(ngModel)]="http.Updatedata.gender">
    <option>Male</option>
    <option>Female</option>
    
  </select>
    </div> -->


<!-- Textarea -->
<!-- <div class="control-group">
  <label class="control-label" for="Address">Address</label>
  <div class="controls"> 
                     
    <textarea id="Address" name="Address" placeholder="Address" [(ngModel)]="http.Updatedata.address">Address</textarea>
    
  </div>
</div> -->
<!-- Textarea -->
<!-- <div class="control-group">
  <label class="control-label" for="Address">About You</label>
  <div class="controls">                     
    <textarea id="Address" placeholder="About" name="about" [(ngModel)]="http.Updatedata.about">About</textarea>
  </div>
</div> -->



<!-- Button -->
<!-- <div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" type="submit" class="btn btn-primary">Next</button>
  </div>
</div>

</fieldset>
</form>
	</div>
</div> --> 
