<body>
   <div class="container">
   <div class="text">
      Personal Details
   </div>
   <form action="#"(ngSubmit)="resumedata1()">
      <div class="form-row">
         <div class="input-data">
            <input name="full_name" id="full_name" type="text" required   [(ngModel)]="http.Resumedata.name" >
            <div class="underline"></div>
            <label for="">Full Name</label>
         </div>
      <br>
         <div class="input-data">
            <input  name="email"type="text" required [(ngModel)]="http.Resumedata.email">
            <div class="underline"></div>
            <label for="">Email</label>
         </div>
      </div>
      <div class="form-row">
         <div class="input-data">
            <input  name="mobile" type="number" required [(ngModel)]="http.Resumedata.phonenumber">
            <div class="underline"></div>
            <label for="">Mobile Number</label>
         </div>
         <br>
         <div class="input-data">
         <input id="dob" name="dob" class="input-large" placeholder="YYYY-MM-DD" type="date"  [(ngModel)]="http.Resumedata.dob">
            <!-- <span class="add-on">DOB</span> -->
             <div class="underline"></div> 
            <label for="">Date of Birth</label>
         </div>
      </div>
      <div class="form-row">
         <div class="gender-details" style="padding-left: 22px;" >
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2"> 
            <span class="gender-title" >Gender</span>
            <div class="category" name="degree" [(ngModel)]="http.Resumedata.gender"> 
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
         </label>
         <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
         </label>
        </div>  
         </div>
       </div>

      <div class="form-row">
      <div class="input-data">
         <input name="Address"   type="text" required  [(ngModel)]="http.Resumedata.address">
            <div class="underline"></div>
            <label for="">Address</label>
         </div>
      <div class="input-data textarea">
         <textarea rows="6" cols="60" required name="about" required [(ngModel)]="http.Resumedata.about"></textarea>
         <div class="underline"></div>
         <label for="">About You</label>
         
         <div class="form-row submit-btn">
            <div class="input-data">
               <div class="inner"></div>
               <input id="submit" name="submit" type="submit" value="Next">
            </div>
         </div>
      </div>
   </div>
   </form>
   </div>
</body>